# LaTeX auxiliary files
*.aux*
*.log*
*.fls*
*.fdb_latexmk*
*.synctex*
*.out*
*.toc*
*.nav*
*.snm*
*.vrb*
*.bbl*
*.bbl*
*.listing*

# minted
**/_minted
*.minted*

# biblatex
*.bcf*
*.blg*
*.run.xml*

# stata
*.stswp*